{% extends 'temp/parent1.html' %}
{% block base %}

<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<center>
		<h2>View Tutor</h2>
		<table border="1" class="table table-striped">
			<tr>
				<th>Name</th>
{#				<th>Place</th>#}
{#				<th>Gender</th>#}
{#				<th>DOB</th>#}
{#				<th>Addres</th>#}
{#				<th>Pincode</th>#}
				<th>Phone_No</th>
				<th>Email</th>
				<th>Education</th>
{#				<th>State</th>#}
				<th>Availability</th>
                <th>Add payment</th>
                <th>fees</th>
                <td>category</td>
			</tr>
            {% for i in x %}
            <tr>

			<td>{{ i.name }}</td>
{#			<td>{{ i.place }}</td>#}
{#			<td>{{ i.gender }}</td>#}
{#			<td>{{ i.dob }}</td>#}
{#			<td>{{ i.address }}</td>#}
{#			<td>{{ i.pincode }}</td>#}
			<td>{{ i.phone_no }}</td>
			<td>{{ i.email }}</td>
			<td>{{ i.education }}</td>
{#			<td>{{ i.state }}</td>#}
			<td>{{ i.availability }}</td>
            <td><a href="/payment/payment/{{ i.tutor_id }}">Add Payment</a> </td>
            <td>{{ i.fees }}</td>
            <td>{{ i.fee_category }}</td>
            </tr>
            {% endfor %}

		</table>
	</center>

</body>
</html>

{% endblock %}