{% extends 'temp/student1.html' %}
{% block base %}

<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<center>
		<h2>View Current Progres</h2>
		<table border="1" class="table table-striped">
			<tr>
				<th>tutor_id</th>
				<th>Student_id</th>
				<th>Parent_id</th>
				<th>Progres report</th>
				<th>Date</th>
			</tr>
            {% for i in x %}
            <tr>
			
			<td>{{ i.tutor.name}}</td>
			<td>{{ i.student.name }}</td>
			<td>{{ i.parent.name }}</td>
			<td>{{ i.progress_report }}</td>
			<td>{{ i.date }}</td>
            </tr>
            {% endfor %}


		</table>
	</center>

</body>
</html>

{% endblock %}